/* About.js */
.about-container {
    width: 50%;
    align-content: center;
    margin: 0 auto;
}
.about-description {
    font-size: 1em;
}

.about-div {
    margin: 2em auto 1em;
    width: 80%;
    text-align: center;
}

.about-paper {
    padding: 5em 0 4em;
}

.about-title {
    padding: 1em 0 0.5em;
}

.title-description {
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 1em;
    font-weight: 200;
}

/* Header.js */
.header-container {
    position: absolute;
    left: 10%;
    padding: 5em;
}


.connect-icons {
    font-size: 1.3em;
    margin-left: 8px;
}
